@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
body{
    font-family: 'Barlow', sans-serif;
    background: rgb(238,174,202);
	background: linear-gradient(-45deg, rgba(238,174,202,1), rgba(148,187,233,1));
	background-size: 600% 600%;
    animation: gradient 5s ease infinite;
    
    padding-left: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.head{
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column ;
}

.head img{
    width: 90px;
    border-radius: 50%;
    margin: auto;
}
.head .name{
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}
.head .briefskill{
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin-top : 5px;
}


.scontainer{
    position: relative;
    text-align: center;
    margin-top: 10px;

}

.social{
    position: relative;
    display: inline-block;
}
.social a{
    margin: auto;
    margin-left: auto;
}
.social a img{
    width: 25px;
}

.about{
    position: relative;
    text-align: center;
    margin-top: 20px;
}
